<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CD3CE6C449666327A5ED00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FE177E14EE1DC18298149DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8256913249960C5DAF6E9221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A8D099F8A596A9E8C4A1CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
